<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Packages from private feeds, directly included as libraries. Pretty old fashion approach, but more efficient for this project than cloning packages to a seperate feed and having authentication for viewers to build run this demo. Folder named 'Libraries' to not not have possible conflicts by local 'packages' download folder on dotnet restore. -->
        <add key="LocalPackages" value=".\Pgo.Backend\Libraries" />
    </packageSources>
</configuration>